---
version: 1
interactions:
- request:
    body: |
      {"query":"query($organisationName:String!$repositoryName:String!){repository(owner: $organisationName, name: $repositoryName){id,refs(refPrefix: \"refs/heads/\"){totalCount}}}","variables":{"organisationName":"joesustaric","repositoryName":"cdi-test-repo"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"data":{"repository":{"id":"MDEwOlJlcG9zaXRvcnkzNjEzNjQzNDU=","refs":{"totalCount":3}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - 2022-08-17 12:41:44 UTC
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; format=json
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:org, read:repo_hook, read:user, repo
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4999"
      X-Ratelimit-Reset:
      - "1652967747"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
