---
version: 1
interactions:
- request:
    body: |
      {"query":"query($organisationName:String!$repositoryName:String!){repository(owner: $organisationName, name: $repositoryName){id,refs(refPrefix: \"refs/heads/\"){totalCount}}}","variables":{"organisationName":"joesustaric","repositoryName":"cdi-test-repo"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/graphql"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - "0"
      X-Ratelimit-Remaining:
      - "0"
      X-Ratelimit-Reset:
      - "1652852040"
      X-Ratelimit-Resource:
      - graphql
      X-Ratelimit-Used:
      - "0"
    status: 401 Unauthorized
    code: 401
    duration: ""
